@import "tailwindcss";

@theme {
  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;

  --color-purple-100: #A78BFA;
  --color-purple-200: #8B5CF6;
  --color-purple-300: #7C3AED;
  --color-purple-600: #7f56d9;
  --color-purple-800: #53389e;
  --color-pink-600: #DB2777;

  --color-card-playing: #1A1A1A;
  --color-card-idle: #0f0f0f;

  --radius-xxs: 0.125rem;
  --radius-xs: 0.25rem;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.25rem;
  --radius-4xl: 1.5rem;

  --spacing: 1px;
  
  --font-sans: var(--font-poppins);
}

@layer utilities {
  .bg-purple-gradient {
    background: linear-gradient(45deg, var(--color-purple-800), var(--color-purple-600));
  }
  .bg-cover-gradient {
    background: linear-gradient(to bottom right, var(--color-purple-300), var(--color-pink-600));
  }
  .shadow-playing {
    box-shadow: 0px 0px 40px 0px color-mix(in srgb, var(--color-purple-200), transparent 70%);
  }
  .shadow-idle {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
  }
  .bg-card-playing {
    background-color: var(--color-card-playing);
  }
  .bg-card-idle {
    background-color: var(--color-card-idle);
  }
}

body {
  font-family: var(--font-sans);
  @apply bg-neutral-25 text-neutral-950;

  button {
    cursor: pointer;
  }
}
